
/* Desktop CSS */

* {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
}

html, body {
    box-sizing: border-box;
    /* #636b6f */
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
}

body { 
    background-image: url("http://attendize.website/assets/images/public/EventPage/backgrounds/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
    min-width: 100%; 
    color: #fff;
}

.bg-wrap {
    background: rgba(0,0,0,0.4);
    height:100%;
}

.text-center p {
    font-weight: 400; 
    margin-bottom: 30px; 
    margin-top: 20px; 
    color: white; 
    font-size: 18px;
}

#head-btn {
    background: rgba(0,0,0,0.4);
    line-height: 30px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    border: none;
    font-size: 15px;
    text-align: center;
    opacity: .6;
}

#head-btn:hover {
    background: rgba(0,0,0,0.5);
    opacity: 1;
}

.link-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#links:hover {
    transition: all .15s ease-in-out;
    border: 1px solid;
    border-color: rgba(255,255,255,0.5);
}

#links {
    text-align: center;
    padding: 0 15px;
    line-height: 35px;
    background: rgba(0,0,0,0.3);
    width: 100%;
    border-radius: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 1px solid;
    border-color:rgba(255,255,255,0.2);
    font-size:17px;
}

#ticket-container {
    width: 77%;
    margin-left: 145px;
    margin-right: auto;
}

h3, p {
    color:black;
}

.well {
    padding: 40px;
    border-radius: 0;
    background: #fff;
    padding-bottom: 70px;
}

.well h1 { 
    text-align: center; 
    margin-top: 0;
    margin-bottom: 30px; 
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 35px;
    color: #666;
}

.well p {
    color: #666;
    margin-bottom: 0; 
}


input, .btn {
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 200;
    margin-bottom: 7px;
    background: #447;
    color: #fff;
    cursor: pointer;
}

#select-input {
    padding-left:25px;
    padding-right:20px;
}

#register-btn {
    -webkit-font-smoothing: antialiased;
    height: 45px;
}

#register-btn:hover {
    background: #25244C;
    transition: all .15s ease-in-out;
    color: #fff;
}

.form-control {
    width: 80px;
    color: #666;
}

/* Responsive Mobile CSS */

@media only screen and (max-width: 480px) {
    #ticket-container {
        width: 80%;
        margin-left: auto;
        margin-right: 20px;
    }
    
}

@media only screen and (max-width: 990px) {
    #ticket-container {
        width: 100%;
        margin-left: 15px;
        margin-right: auto;
    }
    .link-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
}


/*#select-style {
    line-height: normal;
    width:80px;
}*/

/*.form-control select {
    border-radius: none;
}